<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 数据源配置, 使用Druid连接池 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <!-- Connection Info -->
        <property name="driverClassName" value="${datasource.driver-class-name}" />
        <property name="url" value="${datasource.url}" />
        <property name="username" value="${datasource.username}" />
        <property name="password" value="${datasource.password}" />

        <!-- Connection Pooling Info -->
        <property name="initialSize" value="${datasource.initialSize}"/>
        <property name="maxActive" value="${datasource.maxActive}" />
        <property name="minIdle" value="${datasource.minIdle}" />

    </bean>

    <!-- MyBatis配置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!-- 自动扫描entity目录 -->
        <property name="typeAliasesPackage" value="com.laibao.springboot2.traditionalmybatisapp.domain" />
        <!-- 显式指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath*:mybatis/**/*Mapper.xml" />
    </bean>

    <!-- 扫描basePackage下所有以@MybatisMapper 标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.laibao.springboot2.traditionalmybatisapp.mapper" />
        <property name="annotationClass" value="com.laibao.springboot2.traditionalmybatisapp.annotation.MybatisMapper"/>
    </bean>
</beans>